{% extends 'base.html' %}
{% block content %}
{% for pro3 in pro2 %}
<div class="container mt-5">
<div class="card" style="width: 18rem;">
    <img src="{{pro3.image}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{pro3.name}}</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{pro3.stock}}</li>
      <li class="list-group-item">{{pro3.price}}</li>
     
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
</div>
    {% endfor %}
  {% endblock %}